.fullsize {
    border: 11px solid chocolate;
    z-index: 999;
    cursor: zoom-out;
    display: block;
    width: 400px;
    max-width: 400px;
    height: 550px;
    position: fixed;
    left: 100px;
    top: 30px;
}
/* .foto {
    position: relative;
    width: auto;
    height: 300px;
    background: #fff;
    margin: 50% auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
} */
/* Using css var aka custom properies, don't use them if you don't use tools such as postCss */
:root {
    --color-blue: #5897fc;
    --color-blue-grayed: #e0ecff;
  }
  /* First hide radios */
  .questions input[type="radio"] {
    display: none;
  }
  
  /* Generate new radio buttons, which we can style via css */
  .questions label:before {
    content: attr(data-question-number);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
  }
  
  /* Applying styles when checking the buttons */
  .questions input[type="radio"]:checked ~ label {
    background-color: var(--color-blue-grayed);
    border-color: var(--color-blue);
  }
  
  .questions input[type="radio"]:checked ~ label:before {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: white;
  }
  
  .questions label {
    display: block;
    cursor: pointer;
    
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
  }
  

